header{
	padding-top: 35px;
	width: 40%;
	max-width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

header h3, header h4{
	text-align: left;
	padding-left: 30px;
}

header h4{
	padding-top: 50%;
}

header img{
	border-radius: 25px;
	max-width: 500px;
	width: 50%;
	height: auto;
	object-fit: cover;
}

.container-text{
	width: 50%;
	z-index: 1;
}

@media all and (max-width: 800px){
	header{
		padding-top: 55px;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}

	header h3, header h4{
		text-align: center;
		padding: 0;
		padding-top: 5px;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
	}

	header img{
		border-radius: 100%;
		margin-top: 170px;
		aspect-ratio: 1 / 1;
		width: 100%;
		height: auto;
	}

	.container-text{
		width: 100%;
		position: absolute;
		margin-top: -18px;
		z-index: 1;
	}
}